.index--header--2orCk {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.index--header--2orCk nav {
  display: flex;
}
.index--header--2orCk nav li {
  list-style: none;
}
.index--header--2orCk nav li a {
  padding: 15px;
  border-bottom: 3px solid transparent;
  display: block;
}
.index--header--2orCk nav li a.index--active--1inWU {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
html,
body {
  font-family: Microsoft YaHei UI, Microsoft YaHei, PingFang SC, Heiti SC;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: color .3s;
}
a:hover {
  color: rgba(0, 0, 0, 0.9);
}
